@font-face {
    font-family: "Cocogoose";
    src: url("/fonts/Cocogoose.ttf") format("woff2"),
        url(Cocogoose.ttf) format("truetype");
   }

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Cocogoose', sans-serif;
}
p{
    text-align: justify;
    hyphens : auto;
}









/* NAV BAR */

.fullpage_menu{
    display: flex;
    justify-content: space-between;
    padding: 30px 9%;
    z-index: 1000;
    position: relative;
    font-size: x-large;
}

.fullpage_menu a img {
    width: 35px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.menu li a {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.menu li a:hover{
    font-weight: bold;
}


#Newsletter a{
    color: rgb(255, 113, 31);
}

#Newsletter a:hover{
    font-weight: bold;
}


.menuburger{
    display: none;
    padding: 40px 0 0 0;
    position: fixed;
    right: 40px;
    z-index: 1000;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    background-color: black;
    padding-top: 60px;
    transition: right 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(255, 113, 31);
  }

  .sidenav a:nth-last-child():hover {
    color: white;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    right: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    border: solid 1px black;
  }



/* NAV BAR *//* FIN */









/* HEADER */

header{
    height: 100vh;
    background-image: url('../images/fondheader.png');
    background-position: center;
    background-size: cover;
}

h1{
    margin: auto 7.5%;
    color: #292929;
    font-size: 217pt;
    line-height: 210pt;
}

.Perso{
    position: absolute;
  z-index: 2;
  left:45%;
  top: -180px;
  width: 1000px;
}

/* HEADER *//* FIN */









/* CATEGORIE */

.Categories{
    background-color: #141515;
}

h2{
    color: white;
    padding: 50px 7.5%;
    font-size: 40pt;
    padding-bottom: 10px;
}

/* slider */
.fleche{
    display: flex;
}
.buttonslide{
    right: 0;
}
.slide{
    z-index: 3;
    position: relative;
    padding-left: 7.5%;
}

.slider {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 24vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: hidden;
	/*height: 30vh;*/
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    background-color: rgb(20,21,21, .4);
}

.active {
	scroll-snap-type: unset;
}

.slider li {
    scroll-snap-align: center;
	display: inline-block;
	border-radius: 16px;
	font-size: 0;
    max-width: 500px;
    height: 300px;
    transition: 0.2s;
}
.slider li a p {
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 25%;
    hyphens: inherit;
}

.slider li a img{
    width: 100%;
    height: 100%;
    opacity: 0%;
}
.slider li:hover {
    transform: scale(1.05);
}
.musique{
    background-image: url("../images/musique.jpg");
    background-position: center;
    background-size: cover;
}
.lifestyle{
    background-image: url("../images/lifestyle.jpg");
    background-position: center;
    background-size: cover;
}
.sport{
    background-image: url("../images/sport.jpg");
    background-position: center;
    background-size: cover;
}
.mode{
    background-image: url("../images/mode.jpg");
    background-position: center;
    background-size: cover;
}
.playlist{
    background-image: url("../images/playlist.jpg");
    background-position: center;
    background-size: cover;
}

/* slider *//* FIN */

/* CATEGORIE *//* FIN */








/* RÉCENT */
.article{
    background-color: #141515;
}

.recent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.art {
    padding: 10px;
}
.art:last-child{
    padding-right: unset;
}

.art img{
    width: 400px;
    transition: 0.2s;
}
.art img:hover {
    filter: brightness(50%);
}
/* RÉCENT *//* FIN */





/* PROPOS */
.propos{
    background-color: #141515;
}
.flex{
    display: flex;
}
.box1{
    width: 50%;
    padding-left: 10%;
    display: flex;
    align-items: center;
}
.box1 p{
    color: white;
    font-size: x-large;
}
.box2{
    width: 30%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
}
.box2 img{
    width: 200px;
    height: 265px;
    filter: invert(100%);
}
/* PROPOS *//* FIN */







/* CREW */
.rejoindre{
    background-color: #141515;
    padding: 50px 0px 50px 0;
    text-align: -webkit-center;
}
.newsletter-box {
    width: 80%;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .newsletter-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .newsletter-box .news-box {
    position: relative;
  }
  
  .newsletter-box .news-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .newsletter-box .news-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .newsletter-box .news-box input:focus ~ label,
  .newsletter-box .news-box input:valid ~ label {
    top: -20px;
    left: 0;
    color:  rgb(255, 113, 31);
    font-size: 12px;
  }
  
  .newsletter-box form a {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(255, 113, 31);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .newsletter-box a:hover {
    color: #fff;
    border-radius: 5px;
  }
  
  .newsletter-box a span {
    position: absolute;
    display: block;
  }
/* CREW *//* FIN */










/* FOOTER */

footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-l {
    margin-left: 7.5%;
}
.foot-l h5{
    font-size: 40pt;
    color: white;
    padding: 10px 0;
}
.foot-r {
    display: flex;  
    margin-right: 7.5%;
}
.foot-r ul{
    display: flex;
}
.foot-r ul li a{
    color: white;
}
.foot-r ul li :nth-child(1) {
    margin-right: 30px;
}

/* FOOTER *//* FIN */









/* mediascreen */

@media screen and (max-width: 1480px) {
    .fullpage_menu {
        display: none;
    }
    .menuburger{
        display: block;
    }
}  


/* mediascreen *//* FIN */

/* MOBILE */
@media screen and (max-width: 1200px) {
    .box1 p {
        font-size: clamp(1rem, 2vw, 2rem);
    }
    h1 {
        font-size: clamp(5rem, 20vw, 20rem);
        line-height: clamp(5rem, 20vw, 20rem);
    }
    header{
        height: clamp(15rem, 60vw, 45rem);
    } 
    h2{
        font-size: clamp(2rem, 4vw, 4rem);
    }  
    .box2{
        display: none;
    }
    .box1{
        width: 80%;
        align-items: center;
        margin-top: 30px;
    }

    .Perso {
        display: none;
    }
    .slider{
        align-items: start;
        height: clamp(17rem, 23vw, 18rem);
        grid-template-columns: repeat(5, 34vw);
    }
    .art img {
        width: 300px;
    }




    footer {
        width: 100%;
    }
    .foot-l {
        margin-left: 7.5%;
    }
    .foot-l h5{
        font-size: clamp(2rem, 4vw, 4rem);
        color: white;
        padding: 10px 0;
    }
    .foot-r {
        display: flex;  
        margin-right: 0;
    }
    .foot-r ul{
        display: flex;
    }
    .foot-r ul li :nth-child(1) {
        margin-right: 10px;
    }
    .foot-r ul li a{
       font-size: clamp(1rem, 2vw, 2rem);
    }    
} 

@media screen and (max-width: 500px){
    
    .slider li a p {
        transform: rotate(90deg);
        margin-top: 90%;
    }
    .slider{
    grid-template-columns: repeat(5, 24vw)    
}

}


/* MOBILE *//* FIN */